version: 2.1

parameters:
  KDT-UPLOAD:
    default: true
    type: boolean

orbs:
  maven: circleci/maven@1.0.2
  gresham-orb: gresham-computing/gresham-orb@5.3.0
  slack: circleci/slack@3.4.2

executors:
  exe:
    docker:
      - image: 399104266609.dkr.ecr.eu-west-1.amazonaws.com/circleci-build-images:corretto-21
        aws_auth:
          aws_access_key_id: $GIS_PRD_ECR_INT_BUILD_ACCESS_KEY
          aws_secret_access_key: $GIS_PRD_ECR_INT_BUILD_SECRET_ACCESS_KEY

includes:
  
jobs:
  nexus:
    executor: exe
    steps:
      - init
      - nexus-iq-scan
      - cleanup
      - slack/status:
          fail_only: true
          webhook: ${SLACK_WEB_HOOK}
  normal:
    executor: exe
    steps:
      - init
      - run:
          name: Build and deploy
          command: |
            mvn deploy -s gresham-nexus-settings/c24.settings.xml
      - nexus-iq-scan
      - store_artifacts:
          path: "target/site"
      - cleanup
      - slack/status:
          fail_only: true
          webhook: ${SLACK_WEB_HOOK}
  release:
    executor: exe
    steps:
      - init
      - move-to-release-version
      - run:
          name: Deploy
          command: |
            mvn deploy -DskipTests -s gresham-nexus-settings/c24.settings.xml
      - tag-and-move-to-next-dev-version
      - cleanup
      - slack/status:
          success_message: Successfully released C24 Stream Transformer
          webhook: ${SLACK_WEB_HOOK}

commands:
  nexus-iq-scan:
    steps:
      - run: mvn dependency:copy-dependencies -DoutputDirectory=target/all-dependencies -DincludeScope=compile -s gresham-nexus-settings/c24.settings.xml
      - run:
          name: Collect Dependencies
          command: |
            groovy CollectDistinctDependencies.groovy
      - gresham-orb/nexus-iq-scan:
          nexusIQApp: "Misc"
          nexusIQStage: "Release"
          nexusIQArtifactLocation: "c24-ctc-streamtransformerplugin-dependencies.zip"
          kondukto: << pipeline.parameters.KDT-UPLOAD >>
          konduktoProject: "c24-ctc-streamtransformerplugin"
          konduktoBranch: ${CIRCLE_BRANCH}
  cleanup:
    steps:
      - save_cache:
          paths:
            - ~/.m2
          key: m2-{{ checksum "pom.xml" }}
      - gresham-orb/whitelist-remove:
          pattern: ${CIRCLE_PROJECT_REPONAME}
          kondukto: << pipeline.parameters.KDT-UPLOAD >>
  init:
    steps:
      - checkout
      - gresham-orb/get-whitelister
      - gresham-orb/whitelist-add:
          pattern: ${CIRCLE_PROJECT_REPONAME}
          kondukto: << pipeline.parameters.KDT-UPLOAD >>
      - restore_cache:
          keys:
            - m2-{{ checksum "pom.xml" }}
            - m2- # used if checksum fails
      - gresham-orb/clone-nexus-settings
  move-to-release-version:
    steps:
      - run:
          name: Move to release version
          command: |
            mvn versions:set -DremoveSnapshot -B -s gresham-nexus-settings/c24.settings.xml
            mvn validate -DsnapshotDependencyAllowed=false -s gresham-nexus-settings/c24.settings.xml
  tag-and-move-to-next-dev-version:
    steps:
      - run:
          name: Tag in Git and move to next dev version
          command: |
            #Setup Git
            git config --global user.name "gresham-jenkins"
            git config --global user.email "$GITHUB_GRESHAM_USER"
            git config --global url."https://api:${GITHUB_GRESHAM_PW}@github.com/".insteadOf "https://github.com/"

            #Tag and commit released version
            git add pom.xml
            RELEASE_VERSION=$(mvn -f pom.xml -s gresham-nexus-settings/c24.settings.xml -Dexec.executable='echo' -Dexec.args='${project.version}' --non-recursive exec:exec -q)
            git commit -m "New release of Scala ANT Task: $RELEASE_VERSION"
            git tag v$RELEASE_VERSION

            #Merge with master
            git checkout master
            git merge --no-edit release

            #Move to next dev version
            mvn -f pom.xml versions:set -DnextSnapshot -s gresham-nexus-settings/c24.settings.xml
            git add pom.xml
            DEVELOPMENT_VERSION=$(mvn -f pom.xml -s gresham-nexus-settings/c24.settings.xml -Dexec.executable='echo' -Dexec.args='${project.version}' --non-recursive exec:exec -q)
            git commit -m "Moving to next development version v$DEVELOPMENT_VERSION"

            # Clean up release branch and push latest master
            git push "https://gresham-jenkins:${GITHUB_GRESHAM_PW}@github.com/gresham-computing/${CIRCLE_PROJECT_REPONAME}.git" master --tags
            git push "https://gresham-jenkins:${GITHUB_GRESHAM_PW}@github.com/gresham-computing/${CIRCLE_PROJECT_REPONAME}.git" :release
              
workflows:
  normal-workflow:
    jobs:
      - normal:
          context: 
            - gresham-aws
            - C24
            - CircleCi-Gresham-Credentials
          filters:
            branches:
              ignore: release
  release-workflow:
    jobs:
      - release:
          context:
            - gresham-aws
            - C24
            - CircleCi-Gresham-Credentials
          filters:
            branches:
              only: release
  clean-whitelist-entries:
    triggers:
      - schedule:
          cron: "0 23 * * 0"
          filters:
            branches:
              only:
                - master
    jobs:
      - gresham-orb/whitelist-cleanup:
          pattern: ${CIRCLE_PROJECT_REPONAME}
          force: true
          context:
            - gresham-aws
            - C24
            - CircleCi-Gresham-Credentials
  nexus-scan:
    triggers:
      - schedule:
          cron: "0 23 * * 0"
          filters:
            branches:
              only:
                - master
    jobs:
      - nexus:
          context:
            - gresham-aws
            - C24
            - CircleCi-Gresham-Credentials
              